{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>SUBL'IMMO</h1>
        <h2>L'agence immobilière 100 % en ligne</h2>
    </header>

    <main class="container-fluid p-5">

        <div class="row">
            <div class="col-8 offset-2">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit dolor aperiam excepturi eaque error debitis dolore qui quod vero ipsum nihil molestiae repellendus, quos eveniet. Asperiores sint et dolorem culpa.</p>
                <p>Et accusamus magnam quis aliquam, sunt adipisci quibusdam dolores cum nesciunt veritatis nostrum id neque necessitatibus, sed libero repudiandae, dolorum voluptatem delectus facilis architecto unde. Pariatur odio provident fugiat eius ?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Logements</h2>
            </div>
        </div>

        <div class="row">
            {# affichage des logements #}
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-secondary">Voir tout</a>
            </div>
        </div>

    </main>

{% endblock %}
