/* **************************************** RESET **************************************** */

    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }

/* **************************************** GLOBAL **************************************** */

    :root {
        --color-white: #FFFFFF;
        --color-light-grey: #BBBBBB;
    }

    * {
        font-size: lighter;
    }

/* **************************************** NAV **************************************** */

    nav {
        min-height: calc(100vh - 78.4px - 50px);
    }

        nav a {
            color: var(--color-white);
        }

            nav a:hover {
                color: var(--color-light-grey);
            }

/* **************************************** TABLE **************************************** */

    table img {
        width: 100px;
    }

/* **************************************** FOOTER **************************************** */

    footer p {
        font-size: 0.75em;
    }